@import url('https://fonts.googleapis.com/css?family=Poppins&display-swap');

body {
    background: linear-gradient(60deg, #16213E, #61A4BC, #FE7E60, #E94560);
    background-size: 500%;
    animation: gradientAnimation 5s ease infinite;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: "Poppins", sans-serif;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
       background-position: 100% 50%; 
    }
    100%{
        background-position: 0% 50%;
    }
}

.social-button {
    width: 280px;
    height: 80px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: 0.33 linear;
}

.social-button:hover {
    transform: scale(1.1);
}

.social-button span {
    position: absolute;
    width: 100%;
    background: #9970fd;
    color: #f1f1f1;
    text-align: center;
    line-height: 80px;
    z-index: 999;
    transition: 0.43 linear;
    border-radius: 12px;
    font-size: 1.4rem;
    font-weight: 600;
}

.social-button:hover span {
    transform: translateX(-100%);
    transition-delay: 0.3s;
}