/* Navigation Bar */
.navbar {
    display: flex;
    color: #F9FAF8;
    background-color: #1F2937;
    padding: 20px 0px 20px 100px;
    align-items: center;
}

.header-logo img {
    width: 84px;
    height: 84px;
    margin-right: auto;
}

.header-link {
    display: flex;
    margin-left: auto;
    padding: 0px 100px 0px 0px;  
}

.header-link a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    padding: 10px;
    font-family: 'Roboto', arial;
}


/* Background */
.container {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.center-content {
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    color: #FFF;
}

body {
    background: linear-gradient(60deg, #16213E, #61A4BC, #FE7E60, #E94560);
    background-size: 50%;
    animation: gradientAnimation 5s ease infinite;
    height: fit-content;
    text-align: center;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}