@import url('https://fonts.googleapis.com/css?family=Poppins&display-swap');

body {
    background: linear-gradient(60deg, #16213E, #61A4BC, #FE7E60, #E94560);
    background-size: 500%;
    animation: gradientAnimation 5s ease infinite;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: "Poppins", sans-serif;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
       background-position: 100% 50%; 
    }
    100%{
        background-position: 0% 50%;
    }
}

.button {
    position: relative;
    display: inline-block;
    width: 150px;
    height: 50px;
    background: #f3f3f3;
    color: #3c2e9e;
    overflow: hidden;
}

.button:focus {
    animation: morph 1.25s forwards;
}

.button > * {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.plane {
    display: none;
}

.sent,
.button:focus span {
    opacity: 0;
    visibility: hidden;
}
.button:focus .sent {
    animation: reveal 1s 1.25s forwards;
}
.button:focus .plane {
    display: block;
    animation: takeOff 1s forwards;
}